/*div{
  background-color: #87a7b3;
}*/
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

p{
  line-height: 2;
}

h1{
  color:  #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2{
  color:  #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}

a{
  color: #11999E;
  font-size: 1.2rem;
  margin: 1.25rem;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6
}
hr{
  line-height: 2;
  border-top-style: dotted;
  border-style: dotted none none none;
  border-width: 5px;
  width: 5%;
  border-color: #EAF6F6;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #EAF6F6;

}



.creator{
  font-weight: normal;
}

.top-container{
  background-color:  #EAF6F6;
  position: relative;
  padding-top: 6.25rem;

}

.middle-container{
  margin: 100px 0;

}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
  font-family: 'Montserrat', sans-serif;
}
.cre{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 250px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.profile{
    padding-top: 3rem;
}


.profilepic{
  width: 200px;
}

.writing{
  width: 25%;
  float: right;

}

.header{
  margin-top: 2rem;
  color: #40514E;
  font-weight: bold;
  font-size: 3rem;

}

.skills{
    background-color: #66BFBF;
    padding-top: 2rem;
}

.first-skill-row{
  width: 60%;
  margin: 3rem auto 8rem;
  text-align: left;

}

.skill-row{
  width: 60%;
  margin: 8rem auto ;
  text-align: left;

}

.content{
  color: #40514E;
  text-align: center;
  margin: auto;
  width: 30%

}


.contact-me{
  padding-top: 3rem;
  background-color: white;
  margin: 40px auto 60px auto;


}

  .btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 20px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.copyright{
  color:  #EAF6F6;
  font-size: 0.75rem;
  padding: 1.25rem 0 2.5rem;
}

@media (min-width: 900px) and (max-width :1280px) {
  .content{
    margin: 0;
  }
  .profile{
    width: 100%;
  }
  .first-skill-row{

    margin: 3rem 0 8rem;
    text-align: center;
  }
  .writing{
    float: none;
    display: block;
  }
}
